<div class="container-fluid mt-4">
  <div class="row">
    
    <template [ngTemplateOutlet]="idTemplate"
              *ngIf="router.url !== '/shots'">
    </template>
    <template [ngTemplateOutlet]="noIdTemplate"
              *ngIf="router.url === '/shots'">
    </template>
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #noIdTemplate>
    <div *ngFor="let shot of shots" class="sm-12 col-4" style="text-align:center">
        <div class="card">
          <img (mouseover)="onShotHover($event, shot)" 
              (mouseout)="onShotOver($event, shot)"                                                                                                                                                                                                                                                                                                                           
              [routerLink]="[shot.id]" 
              src="{{shot.thumbnail}}" 
              alt="{{shot.title}}">
          <div class="card-body">
            <h5 class="card-title">{{shot.title}}</h5>
            <button appDownload class="btn btn-warning"><i class="fa fa-download"></i> Download</button>
          </div>
        </div>
      </div>
</ng-template>

<ng-template #idTemplate>
    <div class="col-3 shot-container">
        <div class="shot-card" *ngFor="let shot of shots">
          <img src="{{shot.thumbnail}}" 
          alt="shot"
          [routerLink]="[shot.id]"
          />
        </div>
      </div>
</ng-template>